<?xml version="1.0"?>
<launch>
    <!-- Test launch file - preview only, no SD recording -->
    <!-- Use this to verify the camera connection and streaming works -->
    
<!--     <arg name="preview_resolution" default="2k" doc="Preview resolution: 4k, 2k, 1080, 960"/> -->

    <node name="x5_driver" pkg="x5_ros_driver" type="x5_driver_node" output="screen" required="true">
        <rosparam file="$(find x5_ros_driver)/config/x5_params.yaml"/>
        
<!--         <param name="preview_resolution" value="$(arg preview_resolution)"/> -->
        <!-- Disable SD recording for testing -->
<!--         <param name="auto_start_recording" value="false"/> -->
    </node>
</launch>
